body#contact{
    background-image: url("../resources/intro-headers/contact.JPG");
    background-position: center center;
}


.divider header{
    margin-top: 55vh;
}


.contact{
    max-width: 400px;
    margin-left: auto!important;
    margin-right: auto!important;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.3) 0px 1px 2px;
}


.icon{
    border: 2px solid #775b27;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: rgba(119, 91, 39, 0.7);
    color: #37280e;

    align-self: center;
}

.contact-info{
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid #775b27;
    border-left: 0;
    align-self: center;
    background-color: white;
}

main {
    min-height: 90vh;
}