body#intro{
    background-image: url("../resources/images/me3.jpg");
    margin-top: 10vh;
}

body#intro main{
    min-height: 0;
    background-color: transparent;
}

.container{
    margin-top: 30px;
}