body#interests{
    background-image: url("../resources/intro-headers/interests.jpg");
}

.interest{
    border-radius: 15px;
    padding: 0;
    height: 350px;
    background-color: #775b27;
    min-width: 300px !important;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.3) 0px 1px 2px;
}


.interest img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid #775b27;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.interest:hover img, .interest:hover .fa-search{
    opacity: 0;
}

.fa-search{
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    opacity: 1;
    transition: opacity 0.5s linear;
    background-color: rgba(169, 169, 169, 0.85);
    border-radius: 25%;
    color: #56401f;
}

.interest-text{
    opacity: 0;
    transition: opacity 0.5s linear;
    position: absolute!important;
    top: 0;
    background: rgba(169, 169, 169, 0.5);
    border-radius: 10px;
    height: 320px;
    font-size: 95%;

}

@media screen and (max-width: 390px){
    .interest-text {
        font-size: 90%;
    }
}



.interest:hover .interest-text{
    opacity: 1;
}