body#jobs{
    background-image: url("../resources/intro-headers/jobs.jpg");
}

.workRight .row{
    flex-direction: row-reverse !important;
}

.workRight article{
    text-align: right;
}



@media screen and (max-width: 991px) {
    .workLeft article{
        margin-top: 2%;
        margin-left: -3%;
    }
    .workRight article{
        margin-top: 2%;
        margin-right: -3%;
    }
}

.workArticle{
    border-radius: 15px;
}

.workArticle{
    background: white;
}

.workArticle img{
    height: 100%!important;
    border: none;
}

.workArticle h4{
    color: #56401f;
}


