body#skills{
    background-image: url("../resources/intro-headers/books.jpg");
}

.skill{
    border: 3px solid #56401f;
    border-radius: 8px;

    padding-bottom: 0;

    visibility: hidden;

    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.project{
    border-radius: 10px;
    padding: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

.project img,
.project video{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project a{
    text-decoration: underline;
    color: #675124;
}

.project-dropdown{
    transition: 0.4s ease-in-out;
    margin:0;
    padding-top: 10px !important;
}


.icon-holder-dropdown{

    margin-left: auto;
    margin-right: auto;
    color: #37280e;

}

.icon-holder-dropdown:hover .project-dropdown{
    transform: scale(1.3) !important;
    cursor: pointer;
}

#extended-portfolio-div{
    display: none;
}

#simple-portfolio-div{
    margin-top: 5px;
    margin-bottom: 50px;
}

#simple-portfolio-div{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;

    border: 2px solid #56401f;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px, rgba(0, 0, 0, 0.3) 1px 1px 2px;
}

#simple-portfolio-div ul li h5{
    font-weight: bold;
}

#simple-portfolio-div ul li{
    margin-bottom: 15px;
}

#simple-portfolio-div td{
    padding: 5px 10px;
    width: 200px;
}

#simple-portfolio-div td:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#simple-portfolio-div td:nth-child(2){
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#simple-portfolio-div ul li table tr td:nth-child(1){
    width: 130px;
}

#simple-portfolio-div ul li table tr td:nth-child(2){
    width: 200px;
}

tr{
    transition: background-color 0.4s linear, color 0.4s linear;
}



.active-switch{
    color: #453010;
    font-weight: bold;
}

#switcher-skills:not(.active-switch),
#switcher-extended:not(.active-switch){
        color: #775b27;
}

#switcher-div{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    text-align: center;
}

#switcher-skills,
#switcher-extended{
    margin: 5px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a27449;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #56401f;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #a27449;
}

input:focus + .slider {
    box-shadow: 0 0 1px #56401f;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



@media screen and (max-width: 400px){
    .ratingBox img{
        width: 10px;
    }

    table,
    #switcher-skills,
    #switcher-extended{
        font-size: small;
    }
}

.favorite{
    font-weight: bold;
}

.fa-heart{
    color: red;
    font-size: large;
    vertical-align: bottom;
}

.gitlab i{
    font-size: xxx-large;
}

.gitlab {
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gitlab:hover {
    color: #fca326;
    text-underline: none;
    text-decoration: none;
}
