body#travelling{
    background-image: url("../resources/intro-headers/travelling.jpg");
}

.carousel img{
    border-radius: 7px;
}

.carousel-item, .carousel-inner{
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

.carousel-caption p{
    color: black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

.carousel img{
    height: 70vh;
    object-fit: cover;
}

@media screen and (max-width: 450px){
    .carousel img{
        height: 40vh;
        object-fit: cover;
    }
}

main{
    min-height: 0;
}

.countries li:not(.activeCountry){
    cursor: pointer;
}

ul{
    list-style-type: none;
}

.activeCountry{
    font-weight: bold;
}

.hiddenSlideshow{
    display: none;
}


.page    { display: none;}


#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100vw;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("../resources/images/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.dropdown button{
    background-color: #775b27;
    color: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

@media screen and (min-width: 576px){
    .dropdown button {
        float: right;
    }
}

.dropdown button:hover, .dropdown button:active, .dropdown button:focus, .dropdown button:active:focus{
    background-color: #56401f !important;
    color: #fefefe;
}

.dropdown-item{
    cursor: pointer;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;

    opacity: 0;
}

.dropdown-menu {
    overflow-y: scroll;
    overflow-x: hidden;

}

/* width */
.dropdown-menu::-webkit-scrollbar {
    width: 9px;
}

/* Track */
.dropdown-menu::-webkit-scrollbar-track {
    background-color: #fefefe;
    border-radius: 10px;
}

/* Handle */
.dropdown-menu::-webkit-scrollbar-thumb {
    background: #775b27;
    border-radius: 10px;
}

/* Handle on hover */
.dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: #584013;
}

.dropdown.show .dropdown-menu {
    max-height: 400px;
    opacity: 1;
}

