body#university{
    background-image: url("../resources/intro-headers/FEI_STU_10.jpg");
}

#universityAnimatedPart,
#universityAnimatedPartIng{
    visibility: hidden;
}

#universityAnimatedPart{
    display: none;
}

#universityAnimatedPart h4,
#universityAnimatedPartIng h4{
    border-bottom: 3px solid rgb(119, 91, 39);
    width: 300px;
}

#universityAnimatedPart li,
#universityAnimatedPartIng li{
    display: inline;
}


#universityAnimatedPart li::after,
#universityAnimatedPartIng li:after{
    content: " ";
}

#degree-chooser{
    text-align: center;
    font-size: medium;
    margin: auto;
    width: 300px;
    border: 1px solid #775b27;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fefefe;
}

#degree-chooser span{
    margin: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

#degree-chooser span:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #775b27;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#degree-chooser span:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.active-degree{
    font-weight: bold;
}

